input[type=checkbox] {
    display: none;
}

.MTGCard {
    margin: 10px;
}

.Card {
    padding: 15px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 3px 3px 5px 2px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.CardDisplay {
    display: inline-block;
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
}

.ControlCard {
    display: inline-block;
}

.CardText {
    margin-top: 10px;
    width: 200px;
}

.CenterDisplay {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.MTGColor {
    float: left;
    margin: 10px 10px 10px 0px;
}

.ClearStyleDiv {
    clear:both;
}

.Control {
    margin-bottom: 10px;
    position: relative;
}

.InputField {
    border-radius: 5px;
}

.card-search-container {
    flex: 1 0 auto;
    justify-content: center;
    margin: auto;
}

#RedFilter + label {
    background-color: transparent;
    background-image: url("../images/Mana_R.png");
    background-size: 47px;
    background-repeat: no-repeat;
    border: 3px solid transparent;
    height: 50px;
    width: 50px;
    padding: 5px;
}

#RedFilter:checked + label {
    border: 3px solid slategray;
    border-radius: 25px;
}

#WhiteFilter + label {
    background-color: transparent;
    background-image: url("../images/Mana_W.png");
    background-size: 47px;
    background-repeat: no-repeat;
    border: 3px solid transparent;
    height: 50px;
    width: 50px;
    padding: 5px;
}

#WhiteFilter:checked + label {
    border: 3px solid slategray;
    border-radius: 25px;
}

#GreenFilter + label {
    background-color: transparent;
    background-image: url("../images/Mana_G.png");
    background-size: 47px;
    background-repeat: no-repeat;
    border: 3px solid transparent;
    height: 50px;
    width: 50px;
    padding: 5px;
}

#GreenFilter:checked + label {
    border: 3px solid slategray;
    border-radius: 25px;
}

#BlueFilter + label {
    background-color: transparent;
    background-image: url("../images/Mana_U.png");
    background-size: 47px;
    background-repeat: no-repeat;
    border: 3px solid transparent;
    height: 50px;
    width: 50px;
    padding: 5px;
}

#BlueFilter:checked + label {
    border: 3px solid slategray;
    border-radius: 25px;
}

#BlackFilter + label {
    background-color: transparent;
    background-image: url("../images/Mana_B.png");
    background-size: 47px;
    background-repeat: no-repeat;
    border: 3px solid transparent;
    height: 50px;
    width: 50px;
    padding: 5px;
}

#BlackFilter:checked + label {
    border: 3px solid slategray;
    border-radius: 25px;
}

#ColorlessFilter + label {
    background-color: transparent;
    background-image: url("../images/Colorless-symbol.png");
    background-size: 45px;
    background-repeat: no-repeat;
    border: 3px solid transparent;
    height: 50px;
    width: 50px;
    padding: 5px;
}

#ColorlessFilter:checked + label {
    border: 3px solid slategray;
    border-radius: 25px;
}