/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
html,
body {
    background-color: antiquewhite;
    height: 100%;
    margin: 0;
}

.body-container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.header {
    padding: 10px;
    flex-shrink: 0;
}

.content {
    flex: 1 0 auto;
    justify-content: center;
    margin: auto;
}

.footer {
    background-color: #222;
    text-align: center;
    color: #9d9d9d;
    flex-shrink: 0;
}