/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: antiquewhite;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

#container {
    min-height: 100%;
    position: relative;
}

#header {
    padding: 10px;
}

#body {
    padding: 10px;
    padding-bottom: 60px;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    line-height: 60px;
    height: 60px;
    background-color: slategray;
    text-align: center;
}

#footer-content {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}